:root {
  --secondary-font-family: "Kalam", cursive;
  --primary-color: brown;
  --secondary-color: #fff;
  --navigation-color: #000;
  /* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
}
body {
  margin: 0;
  padding: 0;
}
nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--secondary-font-family);
}
ul {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: var(--navigation-color);
}
a .pgh-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main-section {
  height: 100vh;
}
.logo-span {
  color: var(--primary-color);
}
.banner {
  position: relative;
  background-image: url("/images/cars4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner h4 {
  text-align: center;
  font-size: 40px;
  color: var(--primary-color);
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 25px;
  position: relative;
}
.banner h4:after {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--secondary-color);
  margin: auto;
}
.banner p {
  text-align: center;
  font-size: 13px;
  color: var(--secondary-color);
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.banner .para-1 {
  margin-bottom: 0;
  margin-top: 25px;
}
.banner .shop-now-btn {
  padding: 10px 25px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  margin-top: 40px;
}

#bootstrap-override .search-btn,
#bootstrap-override .shop-now-btn {
  background: var(--primary-color);
  color: var(--secondary-color);
}
#bootstrap-override .search-input {
  outline: none;
}
